* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 26px;
}

img {
  width: 100%;
}


.nav--logo {
  max-width: 100px;
}

section {
  max-width: 1000px;
  padding: 0 36px;
  margin: 0 auto;
}

.hero-container {
  display: flex;
  flex-direction: column;
}

.hero--image_banner {
  max-width: 800px;
  align-self: center;
}

.hero-container > h1 {
  font-size: 36px;
  font-weight: 600;
  margin-top: 20px;
}

.hero-container > p {
  color: #222;
  font-size: 16px;
  font-weight: 300;
  max-width: 320px;
}

.card-container {
  display: flex;
  overflow-x: auto;
  gap: 18px;
  margin-top: 49px;
  margin-bottom: 50px;
  color: #222;
  font-size: 12px;
}

.card--items {
  /* width: calc((100% / 3) - 12px); */
  width: 200px;
  flex: 0 0 auto;
  position: relative;
  margin-bottom: 20px;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background: #ccc;
  width: max-content;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: 600;

}

.card--items > img{
  width: 100%;
  border-radius: 9px;
}

.card--stats {
  display: flex;
  align-items: center;
  color: #918E9B;
  gap: 3px
}

.card--stats > img {
  width: 14px;
}

.card--rating {
  color: #222;
}

.card--title {
  font-weight: 300;
}

.card--price .bold{
  font-weight: 600;
}


/* 




.card--title h5 {
  font-size: 12px;
  font-weight: 600;
}

.card--title h5 span {
  font-weight: 300;
} */