* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

img {
  width: 100%;
}

header {
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 10px;
  color: #fff;
}

.header--logo {
  width: 50px;
}

.header--logo_title {
  margin-right: auto;
  font-size: 24px;
  font-weight: 500;
}

.header--sub_title {
  font-size: 20px;
  font-weight: 400;
}

main {
  width: 800px;
  margin: 0 auto;
  margin-top: 40px;
}

.meme--form {
  display: grid;
  grid: 40px 40px / 1fr 1fr;
  gap: 20px;
}

.meme--input {
  font-family: "Inter", sans-serif;
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  padding: 10px 11px;
}

.meme--button { 
  font-family: "Inter", sans-serif;
  grid-column: span 2;
  color: #fff;
  border-radius: 5px;
  background: linear-gradient(90deg, #711F8D 1.14%, #A818DA 100%);
  font-weight: 600;
  border: none;
  cursor: pointer;
}

button.meme--button {
  font-family: "Inter", sans-serif;
}




@media screen and (max-width: 799px) {
  main {
    width: 100%;
    padding: 36px;
  }
}




/* Testing Purposes */

body {
  height: 100vh;
  background-color: #262626;
  color: #fff;
}

.state {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.state--value {
  height: 100px;
  width: 100px;
  background-color: white;
  color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-top: 20px;
  position: relative;
  user-select: none;
}

.state--minus,
.state--add {
  background-color: #737373;
  margin-left: 10px;
  color: #d9d9d9;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  position: absolute;
  cursor: pointer;
  user-select: none;
  font-size: 30px;
}

.state--minus:hover,
.state--add:hover {
  background-color: #404040;
}






.state--minus {
  bottom: -10px;
  left: -30px;

}

.state--add {
  bottom: -10px;
  right: -30px;
}
